body{
    background-color: rgb(221, 0, 255);
}

h1{
   color: black;
}

p{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#minha-div{
    border: 3px solid pink;
    
}
